<ion-header >
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      DemandId App
    </ion-title>
    <ion-buttons slot="end">
        <ion-icon name="qr-scanner" (click)="scanCode()" class="scan"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="searchForm" padding-right>
        <ion-item>
          <ion-label position="floating">Enter an Id</ion-label>
          <ion-input type="text" formControlName="demandid"  required></ion-input>
        </ion-item>
        <ion-button 
          color="primary" 
          expand="block" 
          (click)="createCode()"
         ><small color="secondary"><ion-icon name="barcode"></ion-icon> 
          Generate QR Code</small></ion-button>
    </form> 
 <ion-card *ngIf="createdCode">
    <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
 </ion-card>
 <ion-card *ngIf="scannedCode">
     <ion-card-content>
       <p>Result from scan:  {{scannedCode}} </p>
     </ion-card-content>
 </ion-card>
</ion-content>
